{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %} LOGIN {% endblock title %}
{% block search %}{% endblock search %}
{% block content %}
<div class = 'tm-color-primary text-center'>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<form method ='post'>    
    {% csrf_token %}
{{form | crispy}}
<br><button value='submit' >LOG-IN</button>
</form>
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}