{% extends 'blog/base.html' %}
 {% load crispy_forms_tags %}

{% block title %} {{post.title}} {% endblock title %}

{% block search %}


{% endblock search %}



{% block content %}         

                <div class="col-lg-12 tm-post-col">
                        <div class="mb-7">
                            <h2 class="pt-4 pb-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                            <p class="pt-1 tm-mb-50">{{post.date_added}} posted by {{post.user.username}}</p>
                             <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-65 pt-2">
                    <img src ={{post.image.url}} style = 'padding-left:180px;padding-bottom:15px'>
                </div>
            </div>
            <p style = 'margin-top:50px'>{{post.description}}
                            </p>
                            <span class="d-block text-right tm-color-primary">END OF THE SHOW</span>
                        </div>
                        
                        <!-- Comments -->
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>
                            {% for comment in post.comments.all %}
                            <hr class="tm-hr-primary tm-mb-45">
                            <div class="tm-comment tm-mb-45">
                                <figure class="tm-comment-figure">                                 
                                    <img src="{{comment.user.profile.image.url}}" alt="Image" class="mb-2 rounded-circle img-thumbnail " >
                                    <figcaption class="tm-color-primary text-center">{{comment.user.username | upper}}</figcaption>
                                </figure>
                                <div>
                                    <span class="tm-color-primary">{{comment.date_added}}</span>
                                    <div class="d-flex justify-content-between">    
                                        <p style = 'color:black; text-shadow: 0 0 3px #FF0000'>
                                           {{comment.body}}
                                        </p>
                                    </div>                                                 
                                </div>                                
                            </div>
                            {% endfor %}
                            {% if not post.comments.all %}
                            <br><h2 class = 'tm-color-primary text-center' >ADD BELOW</h2>
                            <br><br>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <form method="post" class="mb-5 tm-comment-form">
                                <span class="tm-color-primary">{{form | crispy}}</span>
                                {% csrf_token %}
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                                </div>                                
                            </form>                          
                        </div>
                </div>
                {% else %}
                <h2 class = 'tm-color-primary text-center'>AHH NEED TO LOGIN TO COMMENT</h2>
            </div>
            {% endif %}
            {% endblock content %}  
            